<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="./angular.js"></script>
    <script src="./lib/angular-locale_pt-br.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="./js/services/contatosAPIServices.js"></script>
    <script src="./js/services/operadorasAPIServices.js"></script>
    <script src="./js/value/configValue.js"></script>
    <script src="./js/services/serialGeneratorService.js"></script>
    <script src="./js/config/serialGeneratorConfig.js"></script>
    <script src="./js/filter/nameFilter.js"></script>
    <script src="./js/filter/ellipsisFilter.js"></script>
    <script src="./js/directives/uiAlertDirective.js"></script>
    <script src="./js/directives/uiDateDirective.js"></script>
    <script src="./js/directives/uiAccordionDirective.js"></script>

    <link rel="stylesheet" type="text/css" href="./style/style.css" media="screen" />
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>

        <ui-accordions>
            <ui-accordion title="titulo">texto texto texto</ui-accordion>
            <ui-accordion title="titulo2">texto1 texto1 texto1</ui-accordion>
        </ui-accordions>

        <ui-alert title="Ops, ocorreu um erro!" ng-if="!contatos.length">
            {{error}}
        </ui-alert>

        <input type="text" ng-model="busca" placeholder="Busca..." class="form-control" ng-if="contatos.length"/>
        <table class="table table-striped" ng-if="contatos.length">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('nome')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>
            <tr ng-repeat="contato in contatos | filter : {nome : busca} | orderBy : criterioDeOrdenacao : direcaoDaOrdenacao" ng-class="{selecionado : contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.serial | ellipsis:4}}</td>
                <td>{{contato.nome | name | ellipsis:12}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome | uppercase}}</td>
                <td>{{contato.data | date:'dd/MM'}}</td>
                <td><div class="marcador-cor" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>

        <div>
            <form name="contatoForm">
                <div class="container">
                    <div class="row mt-1">
                        <div class="col-3 text-justify">
                            Nome:
                        </div>
                        <div class="col">
                            <input
                                type="text"
                                class="form-control"
                                id="nome"
                                placeholder="nome"
                                ng-model="contato.nome"
                                name="nome"
                                ng-required="true">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3 text-justify">
                            Telefone:
                        </div>
                        <div class="col">
                            <input
                                type="text"
                                class="form-control"
                                id="telefone"
                                placeholder="telefone"
                                ng-model="contato.telefone"
                                name="telefone"
                                ng-required="true"
                                ng-minlength="8"
                                ng-pattern="/^\d{4,5}-\d{4}$/">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3 text-justify">
                            Operadora:
                        </div>
                        <div class="col">
                            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy : 'nome'">
                                <option value="">Selecione uma operadora</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3 text-justify">
                            Data:
                        </div>
                        <div class="col">
                            <input
                                type="text"
                                class="form-control"
                                id="data"
                                placeholder="data"
                                ng-model="contato.data"
                                ng-required="false"
                                name="data"
                                ui-date>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3 text-justify">
                            Marcador:
                        </div>
                        <div class="col">
                            <select class="form-control" ng-model="contato.cor" ng-options="cor for cor in cores">
                                <option value="">Selecione uma cor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="mt-2">
                <div class="alert alert-danger" ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty">
                    Preencha o campo nome!
                </div>
                <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
                    Preencha o campo telefone!
                </div>
                <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.minlength">
                    Número mínimo de 8 caracteres no telefone!
                </div>
                <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
                    Formato de telefone inválido!
                </div>
            </div>
            
            <button ng-click="adicionarContato(contato)"
                class="btn btn-primary btn-block mt-2"
                ng-disabled="contatoForm.$invalid">
                Adicionar cotato
            </button>

            <button ng-click="apagarContato(contatos)"
                class="btn btn-danger btn-block mt-2"
                ng-show="!isContatoSelecionado(contatos)">
                Apagar cotato
            </button>
        </div>

    </div>
</body>
</html>