.jumbotron {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
}

.table {
    margin-top: 10px;
}

.selecionado {
    font-weight: bold;
}

.marcador-cor {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size: 22px;
}

.ui-alert-message {
    color: #AF4341;
}

.ui-accordion-title {
    background-color: #ccc; /* Cinza claro */
    color: #000; /* Cor do texto */
    padding: 6px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    font-size: 1.5rem; /* Tamanho da fonte (ajustável) */
    font-weight: bold; /* Negrito */
    width: 100%; /* Ocupa toda a largura do contêiner */
    box-sizing: border-box; /* Garante que o padding não ultrapasse a largura */
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}