.jumbotron {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
}

.table {
    margin-top: 10px;
}

.selecionado {
    font-weight: bold;
}

.marcador-cor {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size: 22px;
}

.ui-alert-message {
    color: #AF4341;
}